.sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}

.mat-sidenav {
  background-color: lightgray
}

.sidenav-content-container {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: stretch;
  justify-content: space-between;
  float: right;
}

.flex-70 {
  background-color:#EEEEEE;
  border-top: 1px solid grey;
  width: 100%;

}
