<div class="flex-20" flex="20" [ngClass]="status ? 'success' : 'danger'">
    <div class="icon-info-wrapper">
        <mat-card class="info-count-circle"></mat-card>
        <mat-icon class="info-count-icon" (click)="clickEvent($event)" svgIcon="info-count" aria-hidden="false" aria-label=""></mat-icon>
    </div>
    <div [ngClass]="status ? 'show' : 'hide'">
        <div class="tracing-queue">Tracing queue</div>
        <mat-list class="mat-list-separator">
                <mat-divider></mat-divider>
                <mat-list-item role="listitem">Pending drafts</mat-list-item>
                <mat-divider></mat-divider>
        </mat-list>
    
        <app-sidebar-pending-draft></app-sidebar-pending-draft>
    
        <mat-list class="mat-list-separator">
                <mat-divider></mat-divider>
                <mat-list-item role="listitem">Some date here</mat-list-item>
                <mat-divider></mat-divider>
        </mat-list>

        <app-sidebar-draft></app-sidebar-draft>
        <app-sidebar-draft></app-sidebar-draft>
    </div>
</div>
