.right-sidebar {
  width: 5%;
  height: 100%;
}

.info-count-icon{ 
  margin: 15px 0 0 15px;
  color: lightslategray;
}

.info-count-circle {
  width: 25px;
  height: 15px;
  border-radius: 30%;
  flex-shrink: 0;
  padding: 0px; 
  background-color: white;
  margin: -32px 0 0 27px ;
}