<form [formGroup]="searchForm">
  <mat-toolbar class="mat-toolbar-wrapper">
    <app-input name="search" formControlName="search" class="search-input-wrapper"></app-input>
    <div class="mat-icon-bell float-left">
        <mat-card class="mat-card-avatar-nav">
            <img mat-card-avatar src="https://api.adorable.io/avatars/285/abott@adorable.png" alt="Photo of a Shiba Inu">
        </mat-card>
        <div class="mat-card-icon-nav">
          <a>
            <mat-icon  color="yellow" svgIcon="bell-icon" aria-hidden="false" ></mat-icon>
          </a>
          <mat-card class="mat-card-icon-notifications"></mat-card>
        </div>  
    </div>
  </mat-toolbar>
</form>

<!-- <pre>{{ searchForm.value | json }}</pre> -->



