<nav class="nav-sidebar">
  <div tabindex="1">
    <a routerLink="/collections" routerLinkActive="active" tabindex="1">
      <mat-icon svgIcon="menu" aria-hidden="false" aria-label=""></mat-icon>
    </a>
  </div>
  <div tabindex="2">
    <a routerLink="/dashboard" routerLinkActive="active" tabindex="2">
      <mat-icon svgIcon="dashboard" aria-hidden="false" aria-label=""></mat-icon>
    </a>
  </div>
  <div tabindex="3">
    <a routerLink="/orders" routerLinkActive="active" tabindex="3">
      <mat-icon svgIcon="orders" aria-hidden="false" aria-label=""></mat-icon>
    </a>
  </div>
  <div tabindex="4">
    <a routerLink="/collections" routerLinkActive="active" tabindex="4">
      <mat-icon svgIcon="collections" aria-hidden="false" aria-label=""></mat-icon>
    </a>
  </div>
  
</nav>



