<mat-card class="draft-pending">
    <mat-checkbox></mat-checkbox>
  <div class="a">
    <div >11/11/2000</div>
    <div>H&M Flooring</div>
  </div>
  <div class="a">
      <div>11/11/2000</div>
      <div>H&M Flooring</div>
  </div>
  <mat-icon class="pendind-draft-icons" svgIcon="chat-black" aria-hidden="false" aria-label=""></mat-icon>
  <div>345$</div>
  <mat-icon class="pendind-draft-icons" (click)="clickEvent()" svgIcon="more" aria-hidden="false" aria-label=""></mat-icon>
  <div class="dialog-draft" [ngClass]="status ? 'show' : 'hide'">
    <div>
      <mat-icon class="pendind-draft-icons"  svgIcon="more" aria-hidden="false" aria-label=""></mat-icon>
      <p>Contact</p>
    </div>
    <div>
      <mat-icon class="pendind-draft-icons"  svgIcon="more" aria-hidden="false" aria-label="">Edit</mat-icon>
      <p>Edit</p>
    </div>
    <div>
      <mat-icon class="pendind-draft-icons"  svgIcon="more" aria-hidden="false" aria-label="">Delete</mat-icon>
      <p>Delete</p>
    </div>
  </div>
</mat-card>
